a { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color:orange }
a:focus { text-decoration: none; color:orange }
a:active { text-decoration: none; color:orange }

.list {
  text-align: center;
  margin: auto;
}

nav {
  height: 4em;
  width: 100%
}

nav > ul {
  list-style: none;
  position: relative;
}

nav > ul > li {
  float: left;
  padding: 1em;
}

nav > ul > li > a {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
 font-size: 2rem;
 font-weight: 700;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0.5rem;
}

.personalSpace {
  margin: 0rem 1rem 0rem 1rem;
}

img {
  max-width:100%;
  max-height:100%;
}

.wholePage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.left {
  float: left;
  text-align: center;
  margin: auto;
}

.right {
  text-align: center;
  margin: auto;
  padding-bottom: 2rem;
}

.hardCenter {
  padding-top: 40%;
}

.red {
  border: 1px red solid;
}
.blue {
  border: 1px blue solid;
}

@media all and (max-width:800px) {
  .left, .right
    {
        display: block; 
        float: none; 
        width: 100%;
    }
  nav {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: white
  }
  nav > ul > li {
    float: right;
  }
  .wholePage {
    padding-bottom: 12em;
  }
}